# Python virtual environment
env/
venv/
ENV/
.venv/

# VSCode settings
.vscode/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS & Linux system files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env